@tailwind preflight;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
 @tailwind components;

// Variables
@import "variables";

// // Tailwind Library
@import "website_tailwind";

@tailwind utilities;

* {
    outline: none;
}

footer {
    color: #636b6f;
}

.logo-color {
    fill: #2c5fb8;
}

body {
    background-color: #8e8c84;

    // Logo
    .navbar-brand {
        display: flex;
        font-family: 'Nunito', sans-serif;
        align-items: center;

        svg {
            margin-right: .75em;
        }
    }
}

// .wizard {
//     .title {
//         font-family: 'Nunito', sans-serif;
//         color: #4a4a4a;
//     }
//     .avatar-form {
//         display: inline-flex;
//         flex-direction: column;
//         align-items: center;

//         .user-avatar {
//             height: 150px;
//             border-radius: 50%;
//         }
//     }
// }
