html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
}

* {
  outline: none;
}

.hero-bg {
  background: #00d2ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#3a7bd5), to(#00d2ff));
  background: linear-gradient(to top, #3a7bd5, #00d2ff);
  height: 80vh;
  font-weight: 900;
  background-position: center center;
}

.hero-bg h1 {
  font-family: 'Montserrat', sans-serif;
}

div.features h2 {
  font-weight: 700;
  color: #4b5154;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

div.features h2 svg.homepage-icon {
  margin-right: .5em;
  fill: #333739;
}

div.features p {
  text-align: justify;
  color: #6f787c;
}
